h1{/*type selector*/
	color:orange;/*declaration*/
	text-align:center;
}
p{
	font-size:130%;
}

#intro{/*rule*/
	background-color:yellow;
}
.first{
	font-size:200%;
}
#intro .first{/*intro selects certain chunk, then space, class, narrows, to first class and selects that chunk*/ 
	color:red;
}
#intro .first em{
	color:green;
}